<section class="todoapp">
  <div>
    <header class="header">
      <h1>todos</h1>

      <input
        [(ngModel)]="newTaskText"
        (keydown.enter)="addTask()"
        class="new-todo"
        placeholder="What needs to be done?"
        value=""
      />
    </header>

    <section class="main">
      <input class="toggle-all" type="checkbox" />

      <label for="toggle-all"></label>

      <task-list
        [tasks]="tasks"
        [deleteTask]="deleteTask"
        [toggleTask]="toggleTask"
        [editTask]="editTask"
      ></task-list>
    </section>
  </div>
</section>
